.App {
  text-align: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromTop 0.5s ease-out;
}

@keyframes waveHop {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.hop-effect-0 {
  animation: waveHop 0.5s ease forwards;
}

.hop-effect-1 {
  animation: waveHop 0.6s ease forwards;
}

.hop-effect-2 {
  animation: waveHop 0.7s ease forwards;
}

.hop-effect-3 {
  animation: waveHop 0.8s ease forwards;
}

.hop-effect-4 {
  animation: waveHop 0.9s ease forwards;
}
