.App {
  text-align: center;
}

.Header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin: 0; /* Remove default margin */
  height: 200px;
  width: 100%;
}

.Padding {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    transparent
  ); /* Adjust colors as needed */
  width: 100%;
  margin: 0; /* Remove default margin */
  height: 50px;
}

.Title {
  height: 100%;
  font-size: 2em;
  padding: 20px 0px 10px 0;
  background-color: white;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromTop 0.5s ease-out;
}

@keyframes waveHop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.hop-effect-0 {
  animation: waveHop 0.3s ease forwards;
}

.hop-effect-1 {
  animation: waveHop 0.3s ease forwards;
  animation-delay: 0.1s;
}

.hop-effect-2 {
  animation: waveHop 0.3s ease forwards;
  animation-delay: 0.2s;
}

.hop-effect-3 {
  animation: waveHop 0.3s ease forwards;
  animation-delay: 0.3s;
}

.hop-effect-4 {
  animation: waveHop 0.3s ease forwards;
  animation-delay: 0.4s;
}
